<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>应用管理</title>
</head>

<body>

<div class="contentDiv">
    <table class="table table-hover table-condensed">
        <legend>
            <strong>应用列表</strong>
        </legend>
        <thead>
        <tr>
            <th>应用名称</th>
            <th>应用地址</th>
            <th>应用状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="app : ${list}">
            <td th:text="${app.applicationName}"></td>
            <td th:text="${app.applicationIpAddress}"></td>
            <td th:text="running"></td>
            <td><a class="btn btn-info" th:href="@{/applicationPluginList(applicationId=${app.id})}">查看</a></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>