<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>插件下载中心</title>
</head>

<body>

<div class="contentDiv">
    <table class="table table-hover table-condensed">
        <legend>
            <strong>插件列表</strong>
        </legend>
        <thead>
        <tr>
            <th>插件名称</th>
            <th>版本号</th>
            <th>全类名</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="plugin : ${list}">
            <td th:text="${plugin.name}"></td>
            <td th:text="${plugin.version}"></td>
            <td th:text="${plugin.className}"></td>
            <td><a class="btn btn-info"  onclick="install()">安装</a>
            <label id="applicationId" th:text="${applicationId}" hidden></label>
            <label id="pluginId" th:text="${plugin.id}" hidden></label>
            </td>

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>

<script>
     function install() {
         $.ajax({
             url:"/installPlugin",    //请求的url地址
             dataType:"json",   //返回格式为json
             async:true,//请求是否异步，默认为异步，这也是ajax重要特性
             data:{"applicationId":$("#applicationId").html().trim(),"pluginId":$("#pluginId").html().trim()},    //参数值
             type:"GET",   //请求方式
             beforeSend:function(){
                 //请求前的处理
             },
             success:function(req){
                 //请求成功时处理
                 alert(req.message);
             },
             complete:function(){
                 //请求完成的处理
             },
             error:function(){
                 //请求出错处理
             }
         });

     }
</script>